body {
    padding: 0;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

#navbar {
    position: -webkit-sticky; 
    position: sticky;
    top: 0; 
    z-index: 1000;
}


#navbar {
    top: 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #0dd3e2;
    color: #ffffff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(108, 68, 68, 0.1);
}

.contact-list {
    background-color:#45a049;
}

#navbar ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

#navbar ul li {
    margin: 0 15px;
}

#navbar ul li a {
    color: #000000;
    padding: 8px 16px;
    display: block;
}

#navbar ul li a:hover {
    background-color: #0025cb;
}
.about-us, h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

h5 {
    color:rgb(255, 255, 255);
    
}

.btn-login {
    background-color: #4CAF50; 
    border: none;
    color: white; 
    padding: 8px 12px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    border-radius: 5px; 
    cursor: pointer; 
}

.btn-login:hover {
    background-color: #45a049;
}

h1 h2 h3 h4 h5 h6 {
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }
}
