body {
    color: #CCCDD3;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: 400;
    background-color: #232527;
    width: auto;
    margin: 0;
}
.so-long {
    padding-left: 20%;
    padding-right: 23%;
    width: 80%;
    background-color: #232527;
    width: auto;
    color: #CCCDD3;
}

.my-email{
    color: blue;
    text-decoration: underline;
}

.footer-bottom {
    font-size: 0.9em;
    color: #bbb;
    margin-top: 20px;
}

.footer-content p {
    margin: 0 0 10px;
    font-size: 1em;
}

.brand-div {
    background-color: rgb(167, 167, 167);
    width: 220px;
    border-radius: 5px;
    margin-left: 20px;
}

.brand-div:hover {
    background-color: rgb(106, 106, 106);
    transition: 0.3s ease-in-out;
}

.scroll-up {
    background-color: #444b44;
    padding: 5px;
    top: 80%;
    margin-left: 10px;
    border-radius: 10px;
    position: fixed;
}

.scroll-up:hover {
    background-color: #1e221e;
    transition: 0.3s ease-in-out;
}

@media only screen and (max-width:768px) {
    body {
        font-size: 14px;
    }
    .so-long {
        padding-left: 20%;
        padding-right: 23%;
    }
}
